.song-table [data-col="note"]{
	width:62px;
	border-right: 10px solid #E5E5E5;
	float:left;
}
.song-table td[data-col="note"]{
	background: #BBB;
}
.button[data-id="lf"]{
	float: right;
	padding: 0 20px;
}
.button[data-id="lf"] .icon{
  background: url('sprites.png') 597px 1462px;
}

.song-table [data-col="note"] .point{
	width:2px;
	height: 100%;
	background: #666;
	display:block;
	float:left;
	font-size: 0.8em;
	color: #FFF;
	text-shadow: 1px 1px #666;
}